<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="app_log" xsi:type="File" fileName="${basedir}/logs/debug.log"
        archiveFileName="${basedir}/logs/debug_{###}.log"
        archiveAboveSize="524288"
        archiveNumbering="Rolling"
        encoding="UTF-8"
        maxArchiveFiles="500" >
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <withHeader>false</withHeader>
        <quoting>Nothing</quoting>
        <column  layout = "date:${longdate}" />
        <column  layout = "level:${level:uppercase = true}" />
        <column  layout ="${message}${exception:format =tostring}" />
      </layout>
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="app_log" minlevel="Info" writeTo="app_log" />
  </rules>
</nlog>
